@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-a: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );

  --gradient-b: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );

  --gradient-phone-b: radial-gradient(
    circle at 50% 50%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}

[data-theme] :root {
  --gradient-b: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  --gradient-a: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(30, 31, 78) 0%,
    rgb(14, 31, 37) 100.2%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply font-sans;
}

body {
  background: var(--gradient-b);
}

@media (min-width: 1024px) {
  body {
    background: var(--gradient-b);
  }
}
@media (min-width: 300px) {
  body {
    background: var(--gradient-phone-b);
  }
}

main {
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.main h1 span {
  background: var(--gradient-a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.main h2 span {
  background: var(--gradient-a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.icon-hover:hover {
  background: var(--gradient-a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.title {
  background: var(--gradient-a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.font-gradient {
  background: var(--gradient-a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.dark .font-gradient {
  background: var(--gradient-a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.profile_card {
  @apply shadow-xl lg:overflow-auto flex flex-col justify-start items-center content-start bg-base-200/75 xsm:w-full lg:h-5/6 rounded-3xl pt-10 pb-5;
}

.dark .card-bg {
  background: rgba(0, 0, 0, 0.44);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(0, 0, 0, 1);
}

.blog-card-content {
  background: rgba(11, 11, 11, 0.22);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(0, 0, 0, 1);
}

.blog {
  @apply flex flex-col lg:justify-start lg:items-center lg:content-center bg-base-300/75 xsm:w-screen xsm:h-phone-nav lg:w-5/6 lg:h-5/6 lg:rounded-l-3xl overflow-auto;
}
.main {
  @apply flex flex-col justify-center items-center content-center xsm:bg-base-300/25 lg:bg-base-300/75 xsm:w-screen xsm:h-phone-nav lg:w-5/6 lg:h-5/6 lg:rounded-l-3xl overflow-auto;
}
.projects {
  @apply flex flex-col justify-start content-start items-center text-center xsm:bg-base-300/25 lg:bg-base-300/75 xsm:w-screen xsm:h-phone-nav lg:w-5/6 lg:h-5/6 lg:rounded-l-3xl overflow-auto;
}
.profile {
  @apply flex flex-col justify-start content-start items-center text-center xsm:bg-base-300/25 lg:bg-base-300/75 xsm:w-screen xsm:h-phone-nav lg:w-5/6 lg:h-5/6 lg:rounded-l-3xl overflow-auto;
}
.card-width {
  width: 98%;
}
